/*Glasoor font*/
@font-face {
  font-family: 'Glasoor';
  src: url('./fonts/Glasoor.woff') format('woff') /* Pretty Modern Browsers */
}


/*@import url('https://fonts.googleapis.com/css?family=Syncopate:400,700');
@import url('https://fonts.googleapis.com/css?family=Changa:300,400,500,700');*/
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');




body{
  background-color: #9397d6;
  text-align: center;
  display: flex;
}

#root{
  width:100%;
}

main{
  margin-top: 13em;
}

section::before {
  content:"";
  display:block;
  height:13em; /* fixed header height*/
  margin:-13em 0 0; /* negative fixed header height */
}

.section-title{
  margin: 0 auto;
  color: #E6E1C5;
  font-family: 'Glasoor';
  width: 10em;
  letter-spacing: .2em;
  font-size: 2em;
}

p{
  color:#354882; /*#1B334F; /*#4F517D;*/
}

section{
  margin-bottom: 5em;
}

section p{
  margin: 3em auto;
  width: 20em;
  line-height: 1.5;
  letter-spacing: .1em;
  font-family: 'Happy Monkey';
  font-weight: bolder;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
  main {
    width: 41em;
  }
}

/*@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}*/
