.sidebar{
  width: 10em;
  margin-left: -3em;
  display: inline-block;
}

.sidebar img, .accessories img{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1em;
}

.sidebar img:hover{
  cursor: pointer;
}

.main{
  display: inline-block;
  width: 10em;
}
.dogpic {
  height: 10em;
}

figure{
  width: 11em;
}

figcaption{
  letter-spacing: .1em;
  font-family: 'Happy Monkey';
  font-weight: bolder;
  color:#354882;
  line-height: 4;
  margin-left: 1.5em;
}

/*Accessories*/
.accessories{
  display: inline-block;
  margin-left: 8em;
}
.accessorypic{
  display: inline-block;
  float: right;
}

.bone{
  margin-top: 6em;
  margin-left: -2em;
  position: absolute;
  width: 7em;
}

.present{
  margin-top: 3em;
  margin-left: -5em;
  position: absolute;
  height: 10em;
}

.partyFwee{
  position: absolute;
  transform: rotate(180deg);
  margin-top: 2em;
  margin-left: -8em;
}
